body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
  }
  
  input[type="text"] {
    padding: 8px;
    font-size: 16px;
  }
  
  button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #weather-info {
    margin-top: 20px;
  }
header, footer{
    background-color: dimgray;
}


